# Ignore everything but files required to build
# the image:
# * *.go
# * go.mod
# * go.sum
# * Makefile
# * web/

# ignore everything
*
**/*

# except go server and its dependencies
!**/*.go
!**/go.mod
!**/go.sum
!**/Makefile

!**/*/*.go
!**/*/*/*.go
!**/appconfig
!**/config
!**/proxy
!**/swagger
!**/lib
!**/lib/server

# the server's dependencies
!**/vendor
!**/vendor/
!**/vendor/**
!**/vendor/**/*

# except vue.js
!**/web
!**/web/**/*

# make sure:
# * node_modules
# * vue.js build dist dir
# * coverage output
# are ignored
node_modules
**/node_modules
web/node_modules
**/web/node_modules
web/dist
**/web/dist
web/coverage
**/web/coverage
