##############################
# Elixir stuff

# The directory Mix will write compiled artifacts to.
/_build

# If you run "mix test --cover", coverage assets end up here.
/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

*.beam

# The directory to store private certs and keys for Ozone (ob-api-proxy)
private

# Files generated VSCode Elixir IDE plugin
.elixir_ls
##############################

.DS_Store
*.env*
!.env.sample
*.log

##############################
# Node.js stuff
node_modules
npm-debug.log
apps/compliance_web/priv/static/
##############################

# >>>>>>>>>>>>>>>>>>>>>>>>>>>>
# Cypress
e2e/artifacts/
e2e/junit-results/
e2e/mochawesome-report/
e2e/node_modules/
.Trash-0/
# <<<<<<<<<<<<<<<<<<<<<<<<<<<<

# >>>>>>>>>>>>>>>>>>>>>>>>>>>>
# ozone
ozone_config/utils/certs
# <<<<<<<<<<<<<<<<<<<<<<<<<<<<

# file generated when running:
# $ DEBUG_ENVS=true ENV=serve_web make serve_web
ob-api-proxy.log

# cache folder used by BitBucket Pipelines
.cache/
