compliance-suite-server.ga www.compliance-suite-server.ga {
  tls mohamed.bana@openbanking.org.uk

  proxy / compliance-suite-server:4000 {
    websocket
    transparent
    except /VERSION
  }

  log stdout
  errors stderr

  gzip
}
